{{>partials/header}}

 {{#banner}}<!--Se a variável banner existir ele mostra o texto abaixo-->
<section class="banner" style="background-image: url(images/{{banner.background}})">{{banner.title}}</section> <!--Captura a variável background e title -->
<h2>{{banner.title}} disponíveis para adoção</h2> <!--Captura a variável title -->
{{/banner}}


<div class="container list">
{{#list}}
    <div class="item">
        <img src="images/{{ image }}" class="item--image" />
        <div class="item--name">{{ name }}</div>
        <div class="item--color">Cor: {{color}}</div>
        <div class="item--genre">Gênero: {{ sex }}</div>
    </div>
{{/list}}
</div>

{{^list}} <!-- Se o list não existir -->
<div class="container no-list">
    <h2>Não há animais disponíveis nessas condições</h2>
</div>

{{/list}}

{{>partials/footer}}